---
title: Week 3 Homework
reading: "Lean Startup Ch 6, 9, Monkey article"
homework: Team Meetings
lectref: term_projects_kickoff build_measure_learn

---
* Due: Sunday at 11:59pm of the beginning of the week
* Sumit each part separately in Latte

## 1. <%= partbadge %>  Read The Lean Startup Chapter 9 and 6 

### Think and answer the following warmup questions:

* **Batch Sizes:** Why are small batch sizes said to be superior in planning? What exactly is a batch? Can you think of an example not in the book where batch sizes can be small or large? Does the book match your intuition?
* **Pull vs. Push:** Imagine that you lived in an apartment with several other people, and it was your job to make sure you never ran out of milk or toilet paper (...or beer?). Describe how you would go about this if you were employing a pull model vs. a push model. What are the tradeoffs that you will need to make? What resources (time, money, space, transportation) would affect your choice? What are the pros and cons when using pull or push in this scenario?
* **Check for understanding**: What key topics from this content are you confused about and would like further explanation? And if it's all pretty clear, then what are a few of the key learnings or insights presented in this material? p.s. Make sure you indicate clearly for each point whether you are clear on it or are still confused about it!
* <%= deliverable "Write your responses to these as a post in the participation blog" %>

### Think about the following warmup questions about Chapter 6

* Sometimes customers get a product that's imperfect, incomplete. When might this happen? . Is that a good or bad thing? What's the purpose for doing this?
* It's been said (by me among others) that an MVP is neither minimum, viable nor a product. Can you explain why that might be a valid statement, or not?
* How can you do an MVP of a hardware product? After all, a hardware product by definition has to be manufactured and that is never cheap.
* What 1 or 2 important things from the reading did you not understand? And if you understood it all, then what 1 or 2 important things were most insightful/useful/valuable to you. Please make sure I can tell which is which!
* <%= deliverable "Write your responses to these as a post in the participation blog" %>

## 2. <%= teambadge %> Team Meeting to come up with term product

### Purpose

* Develop the product or business idea which will become your term project
* Develop a sense of belonging and team
* Learn how to interact, resolve disagreement and reaching consensus

### Do this

* Twice in the week, for at least 1 hour each
* All team members participate and the partner-TA
* Brainstorm product ideas. Look for real problems or pains that exist that your product could address, what is the "job" that the product is doing for the customer, and who that customer might be.
* Write up three product descriptions, including a product name, a tweet-length description, a longer description, a summary of the target customer, what the pain is that your product will solve.  
* <%= deliverable "Meeting report, including key discussion points, attendees, time and place of the meeting. And then the three product idea write ups. One page each."%>

## 3. Read classic article <a href=" http://resources.library.brandeis.edu/login?url=http://go.galegroup.com/ps/i.do?p=EAIM&sw=w&u=mlin_m_brandeis&v=2.1&id=GALE%7CA57484465&it=r&asid=befacd0724dc4ad12c4041edf0ee9288.">"Management Time: Who's got the monkey"</a>

### Think about this

* It's a classic from the Harvard Business Review, they say the most purchased reprint. (By the way, with a little bit of googling you can find a prettier pdf of this article.) 
* Think about it and your gut reaction to it. 
* Do you understand it from your own experience? 
* Have you tried to put the monkey on someone else?
* Has a peer or manager or professor tried to put a monkey on your back.
* Do you think the perspective of this article is constructive or manipulative? 
* <%= deliverable "Write your responses to these as a post in the participation blog" %>

## Team Alignment <%= teambadge %> 
 
 Meet for at least 2 hours, face to face with your team and come up with your team's product vision with the following elements. Notice that for this exercise it is necessary to discuss each point in the team meeeting and articulate your answer in a fairly precise way that you all can accept. I realize that they are so far not tested; you will be able to improve and amend them in the coming days and weeks. The important thing at this point is that all team members engage and understand and agree with the vision as of now.
      * **Product Vision**: Your current vision of the product. Make it descriptive, not salesy. Remember the reader is not inside your head they will need to have it explained.
      * **Problems that it solves**: Continue your explanation by explicitly stating the list of 1 or 2 or 3 real world user problems that it solves. Make it pass the common sense tests. These should not be tiny silly problems but should be recognizable by the target users. Distinguish between problems you solve and pains you remove.
      * **Who is/are the customer/s**: Describe groups of users or customers in a way that keeps in mind how you might reach them. If your customers are "Higher Ed Students who are having trouble finishing their homework on time". How would you find them to talk to them and dig deeper? Also remember that your vision might include two disjoint sets of users or customers.
      * <%= team_deliverable "Your 1 page product vision, as a pdf" %>

