---
title: Pricing Models
homework: 1) Read and comment on articles; self and peer assesment; stage 2 deliverable
desc: We get into what a pricing model is and how to think about one.
cat: Entrepreneurship
---
<%= homework_hdr %>

<%= include_topic :hw_strategic_thinking %>

{:start="2"}
1. <%= pdfbadge %> <%= teambadge %> **Term Project Stage 2 Complete** Look at the <%= link_to_topic :cosi165a_term_project_outline %> and make sure you have completed all the deliverables stated there. <%= team_deliverable "Term project Stage 2 Deliverable" %>

{:start=3"}
<%= include_topic :hw_self_peer_assess_v3 %>

### Continuing work
* **Begin work on Stage 3**: Look at the <%= link_to_topic :cosi165a_term_project_outline %>. Now we are into the business issues. You will have talked and discussed this along the way. Who is your competition? How will you be different? How are you going to price and what is your financial analysis look like? And how will you plan to drive growth?


### Interesting but not required reading
* [The Price of Free Apps](http://www.theverge.com/2013/1/7/3835724/the-price-of-apps)
* [How To Price Something](http://37signals.com/svn/posts/3394-how-to-price-something)
* [Disney Struggles to Make Its Free Gaming Apps Pay](http://www.nytimes.com/2013/11/18/business/media/disney-struggles-to-make-its-free-gaming-apps-pay.html?hpw&rref=business&_r=0)
* [How SnapChat will make money](http://www.businessinsider.com/how-snapchat-will-make-money-2013-11?op=1)

### Teams please sit together

<div><img src="http://www.newyorker.com/wp-content/uploads/2015/12/151207_a19651-600.jpg" style="width: 500px;">
<div style="width: 500px; text-align: center; font-size: 120%; font-style: italic; font-weight: bold;">"The coffee is free, but now we rent the tables."</div>
</div>

## Introduction

<%= postit_begin("Why is this? Does it make sense?") %>
<strong>"The price of this steak is ridiculous! $42 for 12oz of Filet Mignon? My butcher charges me $12 per pound. What a ripoff!"</strong>
<%= postit_end %>

<hr/>
* What *is* a pricing model?
* What makes a "good" pricing model?
  * It has to be simple to understand
  * Customers are willing to pay it
  * It has a logical or reasonable story attached to it (which may or may not be true)
  * It can be contextualized with related products that have established a price
  * You can make an argument that your business will grow and profitwith that pricing model
* How do you "test" a price?
  * A price and a pricing model are hypotheses!
  * Ultimately, that customers are paying it
  * Ask possible customers to react to it
  * Find related or competing products that use a similar model
  * Develop a rationale that makes sense to the Customers

## Pricing Models
* A subset of the business model
* Explanation of who pays and what they pay for
* Ask yourself some questions:
	* Who is getting value out of this business?
	* Who is willing to pay for that value?
	* What exactly are they willing to pay for?
	* When are they most likely to be willing to pay for it?
	* How often are they willing to pay for it?
  * Is your pricing model "logical" or "reasonable"?

<%= include_topic :pricing_model_exercise %>

## Pricing
* Pricing as a hypothesis
* How to test
  * “What would you pay for this?”
  * “Would you buy this for $20?”
  * “How much do you think this is worth?”
  * “What’s the most you’d pay?”

### Freemium vs. Free Trial
  * Play on words with "Premium" and "Free"
  * Freemium:
    * Base product is free
    * Has some limitations
    * Pay for "full product"
    * Tiers of "full product"
  * Contrast with "free trial":
    * Full product
    * Can use it only for limited time (e.g. 1 week)
<%= discussion_box "When is freemium more or less appropriate than free trial?" %>

## Discussion about "our" products

* Each team come up with at last TWO distinct pricing models for your product.
* Take 15 minutes. Consider:
	* Will the model "make sense" to the buyer?
	* Will they be willing to pay it?
	* Is the pricing anchored with any other prices or expectations?
* Present them to class
* How it fits into the financial model

## Next Class
* Look at homework: <%= link_to_next_lecture %>
