---
title: "It's all about growth!"
desc: What is growth hacking and how does it work?
homework: 1) Growth Hacking applied to your project; 2) Teams answer three questions
cat: Entrepreneurship
---
<%= homework_hdr %>

1. <%= pdfbadge %> **Pirate Metrics and Growth Hacking:** Growth Hacking is a 'new profession'. The function is to develop analytical tools and techniques, and a methodology to connect spending on growth with actual results. It's closely related to 'pirate metrics' which is a funny expression cointed to describe a very effective approach. The goal of this work is to introduce you to the fundamental ideas and proponents of it, and ask you to think critically about how these techniques might come into play for your projects:
    * Read the attached PDF of a blog post: <a href="../growthhacking.pdf">Growth Hacking</a>.
    * View this five-minute video by [Dave McClure on "Pirate Metrics"](https://www.youtube.com/watch?v=irjgfW0BIrw), so you understand one of the key ways we measure the components of success: "Startup Metrics for Pirates".
    * Read and understand what is meant by Growth Hacking. There are lots of sources on the web. Here are two: [The Rise of the Growth Hacker](http://andrewchen.co/how-to-be-a-growth-hacker-an-airbnbcraigslist-case-study/).

    <%= deliverable "This is not obvious: it will require thinking and clear writing. Using the articles or any other source, please explain how Growth Hacking might apply to your team's product. Give specifics of what the stages are, what you should measure, and how you would approach it once your company launched. " %>

1. <%= teambadge %> <%= pdfbadge %> **Answer Three Questions**: Think and write one-two sentence answers to these three questions with respect to your product. I would like this to be the result of a real discussion among the team members who should be prepared to present them in class. Here are the questions:
    1. What “problem” are you solving? (in 15 secs or less)
    1. Whose “problem” are you solving? (describe your target user with fewer than 6 attributes)
    1. How are you going to prove whether you are solving this problem for those people? (what “single” thing should or would you do to demonnstrate this, say over the next 6-9 months?)
    
    <%= team_deliverable "Your answers to the three questions" %>

### Interesting, but not mandatory reading
1. **Pirate Metrics** The seminal "Pirate Metrics" presentation by Dave McClure. [Video of Pirate Metrics](https://www.youtube.com/watch?v=4N-fiwdlxAs), and the corresponding slide deck: [Startup Metrics for Pirates](http://www.slideshare.net/dmc500hats/startup-metrics-for-pirates-long-version).
1. **Ads don't really work**: An interesting and surprising article arguing (with data) that online ads mostly don't work! [The new dotcom bubble is here and its called online advertising!](https://thecorrespondent.com/100/the-new-dotcom-bubble-is-here-its-called-online-advertising/13228924500-22d5fd24)

### Continuing work
* **Continue work on Stage 3**: Look at the <%= link_to_topic :cosi165a_term_project_outline %>. Now we are into the business issues. You will have talked and discussed this along the way. Who is your competition? How will you be different? How are you going to price and what is your financial analysis look like? And how will you plan to drive growth?


