<div class="row justify-content-between">
  <div class="col-8">
    <h1>
      <%= citem.title %>
      <span style="font-size: 1rem">
        <% if citem.lecture? %>
          (<%= citem.lecture_date_s %>, lect <%= citem.lecture_number.to_s %>, wk <%= ((1+citem.lecture_number)/2).to_s %>)
        <% end %>
      </span>
    </h1>

  </div>
  <div class="col pt-4">
    <% if citem.lecture? && citem.section != "root" %>
      <%= link_to_prev toc, item %> <%=link_to_next toc, item %>
    <% end %>
    <% if citem.slides %>
      <%= link_to_slides %>
    <% end %>
  </div>
</div>
<h3 class="subheader"><%= citem.desc %></h3>
