---
title: Founding a company
desc: How does a company get founded?
slides: true
---
## Logistics

* Checkin questions and discussion
* Progress on  projects
* Review of Hypotheses and MVPs
* <%= link_to_topic :hw_102r_proj_stage3 %> and <%= link_to_topic :brandeisprojects_listing %> due on last day of class
* <%= link_to_topic :final_video_presentation %> due on December 7

<slide_break></slide_break>

### Video Interlude 1

<iframe src="https://player.vimeo.com/video/477587256" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/477587256">Instinctive on WCVB (ABC) Boston 3-Feb-97</a> from <a href="https://vimeo.com/user19125909">Jeffrey Beir</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

<slide_break></slide_break>

## Basics

<%= include_topic :starting_company %>

<slide_break></slide_break>

<%= include_topic :company_founding_scenario %>

<slide_break></slide_break>

### Video Interlude 2

<iframe src="https://player.vimeo.com/video/477587464" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/477587464">Instinctive on NECN - Jan 20, 1997</a> from <a href="https://vimeo.com/user19125909">Jeffrey Beir</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

<slide_break></slide_break>

## That's all for today!