---
title: "Working on Teams"
desc: We discuss and experience some of the keys to being effective on a team
homework: 1) Read "Management Time" and write a reflection; 2) Read the Working In Teams page and write reflection
cat: Product Management
slides: true

---

<%= homework_hdr %>

1. <%= pdfbadge %> <%= partbadge %> **Monkey**: Read the article <a href=" http://resources.library.brandeis.edu/login?url=http://go.galegroup.com/ps/i.do?p=EAIM&sw=w&u=mlin_m_brandeis&v=2.1&id=GALE%7CA57484465&it=r&asid=befacd0724dc4ad12c4041edf0ee9288.">"Management Time: Who's got the monkey"</a>. It's a classic from the Harvard Business Review, they say the most purchased reprint. (By the way, with a little bit of googling you can find a prettier pdf of this article.) This article is a classic of personal and team effectiveness. Think about it and your gut reaction to it. Do you understand it from your own experience? Have you tried to put the monkey on someone else? Has a peer or manager or professor tried to put a monkey on your back. Do you think the perspective of this article is constructive or manipulative? <%= deliverable "Submit your response." %>
1. <%= pdfbadge %> <%= partbadge %>  **Working in Teams** Read the "Working In Teams" section, right below this and write a response. Is this all common sense? Have you already had lots of experience working in teams? Did you see anything that you really disagreed with? Name one or two things that you would like to learn more about, didn't understand, or found particularly interesting. Are you prepared to use these techniques? <%= deliverable "Brief response to the writeup addressing these or other questions." %>

### Interesting but not required
* Look at this cool site: [Indie Hackers](https://www.indiehackers.com/businesses). Poke around it and read 3 projects that interest you.

<slide_break></slide_break>

## MVP Review - and example
* What's an MVP
* Example: Going out of the building to talk to a shop owner
* What are your hypotheses?
* What do you think a shopowner asks themselves before adopting your product or service?
* Think about this for a little while, write some answers, then discuss your answers with your neighbor

<slide_break></slide_break>

<%= include_topic :working_in_teams %>

##  Talk about Term Projects

* In week 5 we will begin working on the term projects
* Between now and then we will be coming up with ideas, writing them up, etc.
* Here is a page with <%= link_to_topic :product_inspirations %>
* Discuss how it should work: <%= link_to_topic :cosi165a_term_project_outline %>

<slide_break></slide_break>
## Brainstorm!
* Every student will have to create at least one idea for a term project.
* As we brainstorm about product ideas you can start collecting the ones that you like and want to put forward as your idea for a term project.

<%= callout("Right now", " First round of brainstorming on possible term projects. Collect them on whiteboard and write them down. First all together, then in smaller groups. ") %>

## Next Class
* Look at homework: <%= link_to_next_lecture %>
